@import "../../styles/globals";

.wrap {
  padding-top: 2.5rem;
  padding-bottom: 5.5rem;

  color: var(--mainColor);
  text-align: center;
}

.iconWrap {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.iconWrap svg {
  fill: var(--mainColor);
  width: 3rem;
  height: auto;
}

.content {
  font-weight: 600;
  color: var(--mainColor);
  text-decoration: none;

  & :hover,
  & :focus {
    text-decoration: underline;
  }
}
